Repository YAKEcloud/yake-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

.zuul.yaml:

---
- job:
    name: abstract-yake-ansible-molecule
    parent: ansible-molecule
    abstract: true
    nodeset:
      nodes:
        - name: debian-bookworm
          label: debian-bookworm
        - name: ubuntu-noble
          label: ubuntu-noble
    vars:
      ansible_molecule_ansible_version: "10.7.0"
    files:
      - '^\.zuul\.yaml$'
      - '^molecule\/requirements\.txt$'
      - '^molecule\/delegated\/[^\/]*yml$'

- job:
    name: yake-ansible-molecule-molecule-clusterapi-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: clusterapi_install
    files:
      - '^roles\/clusterapi_install\/.*$'
      - '^molecule\/delegated\/tests\/clusterapi_install.*$'

- job:
    name: yake-ansible-molecule-molecule-clusterapi-cluster
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: clusterapi_cluster
    files:
      - '^roles\/clusterapi_cluster\/.*$'
      - '^molecule\/delegated\/tests\/clusterapi_cluster.*$'

- job:
    name: yake-ansible-molecule-molecule-clusterctl-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: clusterctl_install
    files:
      - '^roles\/clusterctl_install\/.*$'
      - '^molecule\/delegated\/tests\/clusterctl_install.*$'

- job:
    name: yake-ansible-molecule-molecule-kind-cluster
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: kind_cluster
    files:
      - '^roles\/kind_cluster\/.*$'
      - '^molecule\/delegated\/tests\/kind_cluster.*$'

- job:
    name: yake-ansible-molecule-molecule-kind-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: kind_install
    files:
      - '^roles\/kind_install\/.*$'
      - '^molecule\/delegated\/tests\/kind_install.*$'

- job:
    name: yake-ansible-molecule-molecule-kubectl-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: kubectl_install
    files:
      - '^roles\/kubectl_install\/.*$'
      - '^molecule\/delegated\/tests\/kubectl_install.*$'

- project:
    merge-mode: squash-merge
    default-branch: main
    check:
      jobs:
        - ansible-lint
        - flake8
        - hadolint
        - python-black
        - yake-ansible-molecule-molecule-clusterapi-install
        - yake-ansible-molecule-molecule-clusterctl-install
        - yake-ansible-molecule-molecule-kind-cluster
        - yake-ansible-molecule-molecule-kind-install
        - yake-ansible-molecule-molecule-kubectl-install
        - yamllint
    periodic-daily:
      jobs:
        - ansible-lint
        - flake8
        - hadolint
        - python-black
        - yake-ansible-molecule-molecule-clusterapi-install
        - yake-ansible-molecule-molecule-clusterctl-install
        - yake-ansible-molecule-molecule-kind-cluster
        - yake-ansible-molecule-molecule-kind-install
        - yake-ansible-molecule-molecule-kubectl-install
        - yamllint

molecule: enhance kubectl_install tests (#200)
  molecule/delegated/tests/kubectl_install.py
Due: yake-ansible-molecule-molecule-kubectl-install

molecule: enhance helm_install tests
  molecule/delegated/tests/helm_install.py
  molecule/delegated/tests/helm_install.yml
Due: none

molecule: enhance kind_cluster tests (#199)
  molecule/delegated/tests/kind_cluster.py
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster

molecule: enhance flux_install tests
  molecule/delegated/tests/flux_install.py
  molecule/delegated/tests/flux_install.yml
Due: none

clusterapi_cluster: use SCS-4V-8 flavor by default
  roles/clusterapi_cluster/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Use k8s 1.32.5
  roles/clusterapi_cluster/defaults/main.yml
  roles/kind_cluster/defaults/main.yml
  roles/kubectl_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kubectl-install

clusterapi_cluster: use SCS-4V-8 flavor by default (#203)
  roles/clusterapi_cluster/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Use k8s 1.32.5 (#204)
  roles/clusterapi_cluster/defaults/main.yml
  roles/kind_cluster/defaults/main.yml
  roles/kubectl_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kubectl-install

Add charts container image
  .github/workflows/build-charts-container-image.yml
Due: none

Add charts container image (#205)
  .github/workflows/build-charts-container-image.yml
Due: none

Use latest tag for the charts container image
  .github/workflows/build-charts-container-image.yml
Due: none

Use latest tag for the charts container image (#206)
  .github/workflows/build-charts-container-image.yml
Due: none

Made some changes to configs and add some new
  Giltfile.yaml
  group_vars/all.yml.example
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/files/cluster-template.yaml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/templates/cloud-secret.yaml.j2
  roles/clusterapi_cluster/templates/image.yaml.j2
  roles/clusterapi_install/files/orc.yaml
  roles/clusterapi_install/tasks/main.yml
  roles/clusterapi_install/templates/install-orc.yaml.j2
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-kind-cluster

Delete group_vars/all.yml
  group_vars/all.yml
Due: none

Delete group_vars/all.yml.example
  group_vars/all.yml.example
Due: none

Delete molecule/delegated/tests/kubectl_install.py
  molecule/delegated/tests/kubectl_install.py
Due: yake-ansible-molecule-molecule-kubectl-install

Delete renovate.json
  renovate.json
Due: none

kind_install: fix docker wiping ipv6 default route (#194)
  molecule/delegated/prepare/clusterapi_cluster.yml
  molecule/delegated/prepare/clusterapi_install.yml
  molecule/delegated/prepare/kind_cluster.yml
  roles/kind_cluster/defaults/main.yml
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster

Get k-orc/openstack-resource-controller manifest via gilt (#184)
  .yamllint.yml
Due: none

kind_cluster: fix container image pull (#195)
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster

Get kind kubernetes version from kindest/node container image (#185)
  renovate.json
Due: none

Use yake- prefix for all container wrapper scripts (#189)
  group_vars/all.yml.example
  molecule/delegated/tests/clusterapi_install.py
  molecule/delegated/tests/kubectl_install.py
  renovate.json
  roles/clusterapi_install/tasks/main.yml
  roles/clusterctl_install/tasks/main.yml
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kubectl-install

clusterapi_cluster: use SCS-4V-8 flavor by default (#203)
  group_vars/all.yml.example
  roles/clusterapi_cluster/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Use k8s 1.32.5 (#204)
  roles/clusterapi_cluster/defaults/main.yml
  roles/kubectl_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-kubectl-install

take all changes from main
  molecule/delegated/tests/kubrectl-Install.py
  renovate.json
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster

Made a lot of changes. Worked on the wrong branch
  renovate.json
  roles/clusterapi_cluster/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Remove typoed file
  molecule/delegated/tests/kubrectl-Install.py
Due: none

Set ansible.builtin.uri instead of uri
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Upgrade kubectl docker build
  .github/workflows/build-kubectl-container-image.yml
Due: none

Add some waits. Still on the error with csi-cinder-controllerplugin
  roles/clusterapi_install/tasks/main.yml
  roles/kind_cluster/tasks/main.yml
  roles/kubectl_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kubectl-install

Upgrade kubectl again
  roles/kubectl_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-kubectl-install

Revert upgrade of kubectl because of missing container
  roles/kubectl_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-kubectl-install

add cilium agent startuptaint to prevent early pod scheduling
  roles/clusterapi_cluster/files/cluster-template.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

remove calico rules, allow all in cluster traffic
  roles/clusterapi_cluster/files/cluster-template.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

use 192.168.0.23/24 for nodes as ciliums pod default is 10.0.0.0/8
  roles/clusterapi_cluster/files/cluster-template.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

use calicos real pod range in cluster-api
  roles/clusterapi_cluster/files/cluster-template.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster
