Repository YAKEcloud/yake-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install

.zuul.yaml:

---
- job:
    name: abstract-yake-ansible-molecule
    parent: ansible-molecule
    abstract: true
    nodeset:
      nodes:
        - name: debian-bookworm
          label: debian-bookworm
        - name: ubuntu-noble
          label: ubuntu-noble
    vars:
      ansible_molecule_ansible_version: "10.7.0"
    files:
      - '^\.zuul\.yaml$'
      - '^molecule\/requirements\.txt$'
      - '^molecule\/delegated\/[^\/]*yml$'

- job:
    name: yake-ansible-molecule-molecule-clusterctl-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: clusterctl_install
    files:
      - '^roles\/clusterctl_install\/.*$'
      - '^molecule\/delegated\/tests\/clusterctl_installl.*$'

- job:
    name: yake-ansible-molecule-molecule-kind-cluster
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: kind_cluster
    files:
      - '^roles\/kind_cluster\/.*$'
      - '^molecule\/delegated\/tests\/kind_cluster.*$'

- job:
    name: yake-ansible-molecule-molecule-kind-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: kind_install
    files:
      - '^roles\/kind_install\/.*$'
      - '^molecule\/delegated\/tests\/kind_install.*$'

- project:
    merge-mode: squash-merge
    default-branch: main
    check:
      jobs:
        - ansible-lint
        - flake8
        - hadolint
        - python-black
        - yake-ansible-molecule-molecule-clusterctl-install
        - yake-ansible-molecule-molecule-kind-cluster
        - yake-ansible-molecule-molecule-kind-install
        - yamllint
    periodic-daily:
      jobs:
        - ansible-lint
        - flake8
        - hadolint
        - python-black
        - yake-ansible-molecule-molecule-clusterctl-install
        - yake-ansible-molecule-molecule-kind-cluster
        - yake-ansible-molecule-molecule-kind-install
        - yamllint

Add kind_cluster role (#14)
  .zuul.yaml
  molecule/delegated/prepare/kind_cluster.yml
  molecule/delegated/tests/clusterctl_install.py
  molecule/delegated/tests/kind_cluster.py
  molecule/delegated/tests/kind_install.py
  molecule/delegated/vars/kind_cluster.yml
  molecule/delegated/verify/kind_cluster.yml
  playbooks/kind-cluster.yml
  roles/clusterctl_install/tasks/main.yml
  roles/kind_cluster/README.md
  roles/kind_cluster/defaults/main.yml
  roles/kind_cluster/meta/meta.yml
  roles/kind_cluster/tasks/main.yml
  roles/kind_install/defaults/main.yml
  roles/kind_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install

Add kubectl image
  .github/workflows/build-kubectl-container-image.yml
  images/kubectl/Containerfile
  images/kubectl/Dockerfile
Due: none

Add kubectl image (#18)
  .github/workflows/build-kubectl-container-image.yml
  images/kubectl/Containerfile
  images/kubectl/Dockerfile
Due: none

Add kubectl_install role
  .zuul.yaml
  molecule/delegated/prepare/kubectl_install.yml
  molecule/delegated/tests/kubectl_install.py
  molecule/delegated/vars/kubectl_install.yml
  molecule/delegated/verify/kubectl_install.yml
  playbooks/kubectl-install.yml
  roles/kubectl_install/README.md
  roles/kubectl_install/defaults/main.yml
  roles/kubectl_install/files/kubectl
  roles/kubectl_install/meta/meta.yml
  roles/kubectl_install/tasks/main.yml
Due: none

Add kubectl_install role (#19)
  .zuul.yaml
  molecule/delegated/prepare/kubectl_install.yml
  molecule/delegated/tests/kubectl_install.py
  molecule/delegated/vars/kubectl_install.yml
  molecule/delegated/verify/kubectl_install.yml
  playbooks/kubectl-install.yml
  roles/kubectl_install/README.md
  roles/kubectl_install/defaults/main.yml
  roles/kubectl_install/files/kubectl
  roles/kubectl_install/meta/meta.yml
  roles/kubectl_install/tasks/main.yml
Due: none

Use entrypoint.sh scripts
  images/clusterctl/Containerfile
  images/clusterctl/entrypoint.sh
  images/kind/Containerfile
  images/kind/entrypoint.sh
  images/kubectl/Containerfile
  images/kubectl/entrypoint.sh
Due: none

Use entrypoint.sh scripts (#21)
  images/clusterctl/Containerfile
  images/clusterctl/entrypoint.sh
  images/kind/Containerfile
  images/kind/entrypoint.sh
  images/kubectl/Containerfile
  images/kubectl/entrypoint.sh
Due: none

Fix workdir
  images/clusterctl/Containerfile
  images/kind/Containerfile
  images/kubectl/Containerfile
Due: none

Fix workdir (#22)
  images/clusterctl/Containerfile
  images/kind/Containerfile
  images/kubectl/Containerfile
Due: none

Set UID & GID
  roles/clusterctl_install/tasks/main.yml
  roles/kind_install/tasks/main.yml
  roles/kubectl_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-install

Set UID & GID (#23)
  roles/clusterctl_install/tasks/main.yml
  roles/kind_install/tasks/main.yml
  roles/kubectl_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-install

Add /var/lib/yake directory
  roles/clusterctl_install/defaults/main.yml
  roles/clusterctl_install/tasks/main.yml
  roles/kind_install/defaults/main.yml
  roles/kind_install/tasks/main.yml
  roles/kubectl_install/defaults/main.yml
  roles/kubectl_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-install

Add /var/lib/yake directory (#24)
  roles/clusterctl_install/defaults/main.yml
  roles/clusterctl_install/tasks/main.yml
  roles/kind_install/defaults/main.yml
  roles/kind_install/tasks/main.yml
  roles/kubectl_install/defaults/main.yml
  roles/kubectl_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-install

Add clusterctl_install role
  .zuul.yaml
  molecule/delegated/prepare/clusterapi_install.yml
  molecule/delegated/tests/clusterapi_install.py
  molecule/delegated/vars/clusterapi_install.yml
  molecule/delegated/verify/clusterapi_install.yml
  playbooks/clusterapi-install.yml
  roles/clusterapi_install/README.md
  roles/clusterapi_install/defaults/main.yml
  roles/clusterapi_install/meta/meta.yml
  roles/clusterapi_install/tasks/main.yml
  roles/clusterctl_install/defaults/main.yml
  roles/clusterctl_install/tasks/main.yml
  roles/kind_cluster/defaults/main.yml
  roles/kind_cluster/tasks/main.yml
  roles/kind_cluster/templates/config.yml.j2
  roles/kind_install/tasks/main.yml
  roles/kubectl_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install

Add clusterctl_install role (#20)
  .zuul.yaml
  molecule/delegated/prepare/clusterapi_install.yml
  molecule/delegated/tests/clusterapi_install.py
  molecule/delegated/vars/clusterapi_install.yml
  molecule/delegated/verify/clusterapi_install.yml
  playbooks/clusterapi-install.yml
  roles/clusterapi_install/README.md
  roles/clusterapi_install/defaults/main.yml
  roles/clusterapi_install/meta/meta.yml
  roles/clusterapi_install/tasks/main.yml
  roles/clusterctl_install/defaults/main.yml
  roles/clusterctl_install/tasks/main.yml
  roles/kind_cluster/defaults/main.yml
  roles/kind_cluster/tasks/main.yml
  roles/kind_cluster/templates/config.yml.j2
  roles/kind_install/tasks/main.yml
  roles/kubectl_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install

Move playbooks & fix usage
  README.md
  ansible.cfg
  clusterapi-install.yml
  clusterctl-install.yml
  images/clusterctl/Containerfile
  images/clusterctl/entrypoint.sh
  images/kubectl/Containerfile
  images/kubectl/entrypoint.sh
  kind-cluster.yml
  kind-install.yml
  kubectl-install.yml
  requirements.txt
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster

Move playbooks & fix usage (#26)
  README.md
  ansible.cfg
  clusterapi-install.yml
  clusterctl-install.yml
  images/clusterctl/Containerfile
  images/clusterctl/entrypoint.sh
  images/kubectl/Containerfile
  images/kubectl/entrypoint.sh
  kind-cluster.yml
  kind-install.yml
  kubectl-install.yml
  requirements.txt
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster

kind: add docker group
  images/kind/Containerfile
  images/kind/entrypoint.sh
Due: none

kind: add docker group (#27)
  images/kind/Containerfile
  images/kind/entrypoint.sh
Due: none

README add missing ansible-galaxy
  README.md
Due: none

README add missing ansible-galaxy (#28)
  README.md
Due: none

Use $* instead of $@ in the entrypoint scripts
  images/clusterctl/entrypoint.sh
  images/kind/entrypoint.sh
  images/kubectl/entrypoint.sh
Due: none

Use $* instead of $@ in the entrypoint scripts (#29)
  images/clusterctl/entrypoint.sh
  images/kind/entrypoint.sh
  images/kubectl/entrypoint.sh
Due: none

Use async for "Create kind cluster"
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster

Add site play
  README.md
  site.yml
Due: none

Add site play (#30)
  README.md
  site.yml
Due: none

Use async for "Create kind cluster" (#31)
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster

kind_cluster: copy primary kubeconfig
  roles/kind_cluster/defaults/main.yml
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster

kind_cluster: copy primary kubeconfig (#32)
  roles/kind_cluster/defaults/main.yml
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster

kubectl_install: pass KUBECONFIG env variable
  roles/kubectl_install/files/kubectl
Due: none

kubectl_install: pass KUBECONFIG env variable (#33)
  roles/kubectl_install/files/kubectl
Due: none

kubectl_install: use default kubeconfig
  roles/kubectl_install/files/kubectl
Due: none

kubectl_install: use default kubeconfig (#34)
  roles/kubectl_install/files/kubectl
Due: none

clusterctl: use v1.9.4
  images/clusterctl/Containerfile
Due: none

clusterctl_install: pass KUBECONFIG env variable
  roles/clusterctl_install/files/clusterctl
Due: yake-ansible-molecule-molecule-clusterctl-install

clusterctl: use v1.9.4 (#36)
  images/clusterctl/Containerfile
Due: none

clusterctl_install: pass KUBECONFIG env variable (#37)
  roles/clusterctl_install/files/clusterctl
Due: yake-ansible-molecule-molecule-clusterctl-install

clusterapi_install: fix init
  molecule/delegated/prepare/clusterapi_install.yml
  molecule/delegated/tests/clusterapi_install.py
  roles/clusterapi_install/defaults/main.yml
  roles/clusterapi_install/tasks/main.yml
  roles/kubectl_install/defaults/main.yml
  roles/kubectl_install/tasks/main.yml
Due: none

clusterapi_install: fix init (#35)
  molecule/delegated/prepare/clusterapi_install.yml
  molecule/delegated/tests/clusterapi_install.py
  roles/clusterapi_install/defaults/main.yml
  roles/clusterapi_install/tasks/main.yml
  roles/kubectl_install/defaults/main.yml
  roles/kubectl_install/tasks/main.yml
Due: none

clusterapi_install: support CLUSTER_TOPOLOGY env variable
  roles/clusterapi_install/defaults/main.yml
  roles/clusterapi_install/tasks/main.yml
  roles/clusterctl_install/files/clusterctl
Due: yake-ansible-molecule-molecule-clusterctl-install
