Repository YAKEcloud/yake-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

.zuul.yaml:

---
- job:
    name: abstract-yake-ansible-molecule
    parent: ansible-molecule
    abstract: true
    nodeset:
      nodes:
        - name: debian-bookworm
          label: debian-bookworm
        - name: ubuntu-noble
          label: ubuntu-noble
    vars:
      ansible_molecule_ansible_version: "10.7.0"
    files:
      - '^\.zuul\.yaml$'
      - '^molecule\/requirements\.txt$'
      - '^molecule\/delegated\/[^\/]*yml$'

- job:
    name: yake-ansible-molecule-molecule-clusterapi-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: clusterapi_install
    files:
      - '^roles\/clusterapi_install\/.*$'
      - '^molecule\/delegated\/tests\/clusterapi_install.*$'

- job:
    name: yake-ansible-molecule-molecule-clusterapi-cluster
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: clusterapi_cluster
    files:
      - '^roles\/clusterapi_cluster\/.*$'
      - '^molecule\/delegated\/tests\/clusterapi_cluster.*$'

- job:
    name: yake-ansible-molecule-molecule-clusterctl-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: clusterctl_install
    files:
      - '^roles\/clusterctl_install\/.*$'
      - '^molecule\/delegated\/tests\/clusterctl_install.*$'

- job:
    name: yake-ansible-molecule-molecule-kind-cluster
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: kind_cluster
    files:
      - '^roles\/kind_cluster\/.*$'
      - '^molecule\/delegated\/tests\/kind_cluster.*$'

- job:
    name: yake-ansible-molecule-molecule-kind-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: kind_install
    files:
      - '^roles\/kind_install\/.*$'
      - '^molecule\/delegated\/tests\/kind_install.*$'

- job:
    name: yake-ansible-molecule-molecule-kubectl-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: kubectl_install
    files:
      - '^roles\/kubectl_install\/.*$'
      - '^molecule\/delegated\/tests\/kubectl_install.*$'

- project:
    merge-mode: squash-merge
    default-branch: main
    check:
      jobs:
        - ansible-lint
        - flake8
        - hadolint
        - python-black
        - yake-ansible-molecule-molecule-clusterapi-install
        - yake-ansible-molecule-molecule-clusterctl-install
        - yake-ansible-molecule-molecule-kind-cluster
        - yake-ansible-molecule-molecule-kind-install
        - yake-ansible-molecule-molecule-kubectl-install
        - yamllint
    periodic-daily:
      jobs:
        - ansible-lint
        - flake8
        - hadolint
        - python-black
        - yake-ansible-molecule-molecule-clusterapi-install
        - yake-ansible-molecule-molecule-clusterctl-install
        - yake-ansible-molecule-molecule-kind-cluster
        - yake-ansible-molecule-molecule-kind-install
        - yake-ansible-molecule-molecule-kubectl-install
        - yamllint

clusterapi_cluster: wait for some pods
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: wait for some pods (#60)
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: pause 30 seconds before the wait tasks
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: pause 30 seconds before the wait tasks (#62)
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: use container registry cache for dockerhub
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/files/cluster-template.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: use container registry cache for dockerhub/ghcr (#61)
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/files/cluster-template.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: remove csi-secret-cinderplugin.yaml file
  .yamllint.yml
  roles/clusterapi_cluster/files/csi-secret-cinderplugin.yaml
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: remove csi-secret-cinderplugin.yaml file (#63)
  .yamllint.yml
  roles/clusterapi_cluster/files/csi-secret-cinderplugin.yaml
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: fix typo
  roles/clusterapi_cluster/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: fix typo (#64)
  roles/clusterapi_cluster/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: fix image pull
  roles/clusterapi_cluster/files/cluster-template.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: fix image pull (#65)
  roles/clusterapi_cluster/files/cluster-template.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: use stable cinder-csi release
  .yamllint.yml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin-rbac.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-nodeplugin-rbac.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-nodeplugin.yaml
  roles/clusterapi_cluster/files/cinder-csi/csi-cinder-driver.yaml
  roles/clusterapi_cluster/files/cinder-csi/sync.sh
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: use stable cinder-csi release (#66)
  .yamllint.yml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin-rbac.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-nodeplugin-rbac.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-nodeplugin.yaml
  roles/clusterapi_cluster/files/cinder-csi/csi-cinder-driver.yaml
  roles/clusterapi_cluster/files/cinder-csi/sync.sh
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: add registry.k8s.io
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/files/cluster-template.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: add registry.k8s.io (#67)
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/files/cluster-template.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: improve pauses
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: improve pauses (#68)
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: move cloud-controller-manager files
  .yamllint.yml
  roles/clusterapi_cluster/files/cloud-controller-manager/cloud-controller-manager-role-bindings.yaml
  roles/clusterapi_cluster/files/cloud-controller-manager/cloud-controller-manager-roles.yaml
  roles/clusterapi_cluster/files/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: move cloud-controller-manager files (#69)
  .yamllint.yml
  roles/clusterapi_cluster/files/cloud-controller-manager/cloud-controller-manager-role-bindings.yaml
  roles/clusterapi_cluster/files/cloud-controller-manager/cloud-controller-manager-roles.yaml
  roles/clusterapi_cluster/files/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: move calico file
  .yamllint.yml
  roles/clusterapi_cluster/files/calico/calico.yaml
  roles/clusterapi_cluster/files/calico/sync.sh
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi_cluster: move calico file (#70)
  .yamllint.yml
  roles/clusterapi_cluster/files/calico/calico.yaml
  roles/clusterapi_cluster/files/calico/sync.sh
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Use version tag for clusterctl image
  .github/workflows/build-clusterctl-container-image.yml
Due: none

Add missing sync.sh script
  roles/clusterapi_cluster/files/cloud-controller-manager/sync.sh
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Use version tag for clusterctl image (#71)
  .github/workflows/build-clusterctl-container-image.yml
Due: none

Add missing sync.sh script (#72)
  roles/clusterapi_cluster/files/cloud-controller-manager/sync.sh
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Use version tag for kind image
  .github/workflows/build-kind-container-image.yml
Due: none

Use version tag for kind image (#73)
  .github/workflows/build-kind-container-image.yml
Due: none

Use version tag for kubectl image
  .github/workflows/build-kubectl-container-image.yml
Due: none

Use version tag for kubectl image (#74)
  .github/workflows/build-kubectl-container-image.yml
Due: none

Pin our own container images
  roles/clusterctl_install/defaults/main.yml
  roles/kind_install/defaults/main.yml
  roles/kubectl_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

Pin our own container images (#75)
  roles/clusterctl_install/defaults/main.yml
  roles/kind_install/defaults/main.yml
  roles/kubectl_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

Improve the renovate configuration
  renovate.json
Due: none

Improve the renovate configuration (#76)
  renovate.json
Due: none

Improve the renovate configuration (pt. 2)
  group_vars/all.yml
  renovate.json
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterctl_install/defaults/main.yml
  roles/kind_cluster/defaults/main.yml
  roles/kind_install/defaults/main.yml
  roles/kubectl_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

Improve the renovate configuration (pt. 2) (#79)
  group_vars/all.yml
  renovate.json
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterctl_install/defaults/main.yml
  roles/kind_cluster/defaults/main.yml
  roles/kind_install/defaults/main.yml
  roles/kubectl_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

Use ghcr.io instead of quay.io
  roles/clusterctl_install/defaults/main.yml
  roles/kind_install/defaults/main.yml
  roles/kubectl_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

Use ghcr.io instead of quay.io (#80)
  roles/clusterctl_install/defaults/main.yml
  roles/kind_install/defaults/main.yml
  roles/kubectl_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

Use gilt insteaf of sync scripts
  Giltfile.yaml
  Pipfile
  renovate.json
  requirements.txt
  roles/clusterapi_cluster/files/calico/sync.sh
  roles/clusterapi_cluster/files/cinder-csi/sync.sh
  roles/clusterapi_cluster/files/cloud-controller-manager/sync.sh
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Use gilt instead of sync scripts (#83)
  Giltfile.yaml
  Pipfile
  renovate.json
  requirements.txt
  roles/clusterapi_cluster/files/calico/sync.sh
  roles/clusterapi_cluster/files/cinder-csi/sync.sh
  roles/clusterapi_cluster/files/cloud-controller-manager/sync.sh
Due: yake-ansible-molecule-molecule-clusterapi-cluster
