Repository YAKEcloud/yake-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

yake-ansible-molecule-molecule-clusterapi-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: clusterapi_install

yake-ansible-molecule-molecule-clusterapi-cluster:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: clusterapi_cluster

yake-ansible-molecule-molecule-clusterctl-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: clusterctl_install

yake-ansible-molecule-molecule-kind-cluster:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: kind_cluster

yake-ansible-molecule-molecule-kind-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: kind_install

yake-ansible-molecule-molecule-kubectl-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: kubectl_install

clusterapi-cluster: add optional a root volume from which the vm can boot for persistence. (#298)
  README.md
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi-cluster: escape some variables in den cluster-template to not interpret as ansible variables
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi-cluster: escape some variables in den cluster-template to not interpret as ansible variables (#299)
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

gardener-operator: Add the option to install keycloak to the initial kind cluster for identity management. clusterapi: add the option to define the loadbalancer provider. Default is now ovn
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/keycloak.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/clusterissuer.yaml.j2
  roles/gardener_operator/templates/keycloak-cr.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

gardener-operator: Add the option to install keycloak to the initial kind cluster for identity management. (#300)
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/keycloak.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/clusterissuer.yaml.j2
  roles/gardener_operator/templates/keycloak-cr.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

operator: add cloud-provider-kind for loadbalancer-services. disable cert validation for some tasks. helm: add the possibility to disable cert validation.
  roles/gardener_operator/tasks/keycloak.yml
  roles/gardener_operator/tasks/main.yml
  roles/helm_install/files/helm
  roles/kind_cluster/templates/config.yml.j2
Due: yake-ansible-molecule-molecule-kind-cluster

operator: add cloud-provider-kind for loadbalancer-services. disable cert validation for some tasks. (#301)
  roles/gardener_operator/tasks/keycloak.yml
  roles/gardener_operator/tasks/main.yml
  roles/helm_install/files/helm
  roles/kind_cluster/templates/config.yml.j2
Due: yake-ansible-molecule-molecule-kind-cluster

operator: setup k3s for keycloak. Use another secret for designate. general: add apostrophe to all versions to update them with renovate - hopefully.
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/keycloak.yml
  roles/gardener_operator/templates/keycloak-cr.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/gardener_operator/templates/seed-terminal-certificate.yaml.j2
Due: none

operator: add yake-controllplane-cert chart for creation of various certs. Also labeled the internal- and the managed-seed. Modified keycloak CR to enable publicClient. Renamed seed-certificate
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/keycloak-cr.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/gardener_operator/templates/seed-ingress-certificate.yaml.j2
Due: none

operator: fix typo
  roles/gardener_operator/templates/keycloak-cr.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

operator: remove binary_path for keycloak deployment
  roles/gardener_operator/tasks/keycloak.yml
Due: none

operator: rename default issuer to garden
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/seed-ingress-certificate.yaml.j2
Due: none

operator: disable temp the issuance of control-plane cert
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

operator: reenable the issuance of cluster-certs and add the annotation to the managed-seed
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

operator: setup k3s for keycloak. Use another secret for designate. (#302)
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/keycloak.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/keycloak-cr.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/gardener_operator/templates/seed-ingress-certificate.yaml.j2
Due: none

Remove managed seed terminal instructions from README
  README.md
Due: none

chore: sync manifests
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-nodeplugin.yaml
  roles/clusterapi_cluster/files/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

chore: sync charts
  charts/cert-manager/Chart.yaml
  charts/cert-manager/README.md
  charts/cert-manager/templates/crd-acme.cert-manager.io_challenges.yaml
  charts/cert-manager/templates/crd-acme.cert-manager.io_orders.yaml
  charts/cert-manager/templates/crd-cert-manager.io_certificaterequests.yaml
  charts/cert-manager/templates/crd-cert-manager.io_certificates.yaml
Due: none

chore: sync manifests
  roles/clusterapi_cluster/files/calico/calico.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

gardener-operator: Add the possibility to change the minimum and maximum workers of the managed-seed
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

gardener-operator: Add the possibility to change the minimum and maximum workers of the managed-seed (#328)
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

chore: sync charts
  charts/cilium/Chart.yaml
  charts/cilium/README.md
  charts/cilium/values.schema.json
  charts/cilium/values.yaml
  charts/cilium/values.yaml.tmpl
Due: none

Added more potent default machine types for the workers. (#335)
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/files/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/garden.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

chore: sync manifests
  roles/clusterapi_cluster/files/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Revert "chore: sync manifests (#339)"
  roles/clusterapi_cluster/files/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Revert "chore: sync manifests (#339)" (#340)
  roles/clusterapi_cluster/files/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

operator: Add the posibility to add more than one image. (#351)
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/keycloak.yml
  roles/gardener_operator/templates/cloudprofile.yaml.j2
  roles/gardener_operator/templates/keycloak-cr.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

operator: Extense the possiblity to use various image versions. Also change the way that the managed seed uses a image version
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/cloudprofile.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

Gardener operator 10 (#352)
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/cloudprofile.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

operator: add the possibility to define more than one floating pool and lb-provider
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/cloudprofile.yaml.j2
Due: none

operator: add the possibility to define more than one floating pool and lb-provider (#355)
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/cloudprofile.yaml.j2
Due: none

chore: sync manifests
  roles/clusterapi_cluster/files/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml
  roles/clusterapi_install/files/orc.yaml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster

chore: sync charts
  charts/cilium/Chart.yaml
  charts/cilium/README.md
  charts/cilium/templates/cilium-configmap.yaml
  charts/cilium/templates/clustermesh-apiserver/tls-cronjob/_job-spec.tpl
  charts/cilium/templates/hubble/tls-cronjob/_job-spec.tpl
  charts/cilium/values.yaml
Due: none

goperator: Add the possibility to define the keycloak relam. Also remove the useOctavia field in the cloudprofile because it is deprecated
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/cloudprofile.yaml.j2
  roles/gardener_operator/templates/keycloak-cr.yaml.j2
Due: none

goperator: Add gardenClusterAdress for all managed seeds
  roles/gardener_operator/templates/gardenlet.yaml.j2
Due: none

goperator: Add gardenClusterAdress for all managed seeds (#377)
  roles/gardener_operator/templates/gardenlet.yaml.j2
Due: none

goperator: make it possible to deploy more than one cloudprofile and managed-seed. (#383)
  README.md
  ansible.cfg
  group_vars/all.yml.example
  images/helm/Containerfile
  renovate.json
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_install/files/orc.yaml
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/keycloak.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/cloudprofile.yaml.j2
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/keycloak-cr.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/gardener_operator/templates/project.yaml.j2
  roles/helm_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster

Path conditions:
  yake-ansible-molecule-molecule-clusterapi-install: any of: ^roles\/clusterapi_install\/.*$, ^molecule\/delegated\/tests\/clusterapi_install.*$
  yake-ansible-molecule-molecule-clusterapi-cluster: any of: ^roles\/clusterapi_cluster\/.*$, ^molecule\/delegated\/tests\/clusterapi_cluster.*$
  yake-ansible-molecule-molecule-clusterctl-install: any of: ^roles\/clusterctl_install\/.*$, ^molecule\/delegated\/tests\/clusterctl_install.*$
  yake-ansible-molecule-molecule-kind-cluster: any of: ^roles\/kind_cluster\/.*$, ^molecule\/delegated\/tests\/kind_cluster.*$
  yake-ansible-molecule-molecule-kind-install: any of: ^roles\/kind_install\/.*$, ^molecule\/delegated\/tests\/kind_install.*$
  yake-ansible-molecule-molecule-kubectl-install: any of: ^roles\/kubectl_install\/.*$, ^molecule\/delegated\/tests\/kubectl_install.*$
