Repository YAKEcloud/yake-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

yake-ansible-molecule-molecule-clusterapi-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: clusterapi_install

yake-ansible-molecule-molecule-clusterapi-cluster:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: clusterapi_cluster

yake-ansible-molecule-molecule-clusterctl-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: clusterctl_install

yake-ansible-molecule-molecule-kind-cluster:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: kind_cluster

yake-ansible-molecule-molecule-kind-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: kind_install

yake-ansible-molecule-molecule-kubectl-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: kubectl_install

fix formatting
  roles/clusterapi_cluster/files/cluster-template.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

use yake-helm binary in ansible
  roles/clusterapi_cluster/tasks/network-cilium.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

add cilium agent startuptaint to prevent early pod scheduling
  roles/clusterapi_cluster/files/cluster-template.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

remove calico rules, allow all in cluster traffic
  roles/clusterapi_cluster/files/cluster-template.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

use 192.168.0.23/24 for nodes as ciliums pod default is 10.0.0.0/8
  roles/clusterapi_cluster/files/cluster-template.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

use calicos real pod range in cluster-api
  roles/clusterapi_cluster/files/cluster-template.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Fix cilium (#212)
  roles/clusterapi_cluster/files/cluster-template.yaml
  roles/clusterapi_cluster/tasks/network-cilium.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

WIP: Work changes (#207)
  .github/workflows/build-kubectl-container-image.yml
  group_vars/all.yml.example
  renovate.json
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/files/cluster-template.yaml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/templates/cloud-secret.yaml.j2
  roles/clusterapi_cluster/templates/image.yaml.j2
  roles/clusterapi_install/tasks/main.yml
  roles/kind_cluster/tasks/main.yml
  roles/kubectl_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kubectl-install

Add -p to the exec command to preserve envs
  images/helm/entrypoint.sh
Due: none

Add -p to the exec command to preserve envs (#216)
  images/helm/entrypoint.sh
Due: none

renovate: add missing helm_install role
  renovate.json
Due: none

renovate: add missing helm_install role (#217)
  renovate.json
Due: none

Revert "Add -p to the exec command to preserve envs (#216)"
  images/helm/entrypoint.sh
Due: none

helm_install: pass all HELM_ env variables
  roles/helm_install/files/helm
Due: none

Revert "Add -p to the exec command to preserve envs (#216)" (#219)
  images/helm/entrypoint.sh
Due: none

helm_install: pass all HELM_ env variables (#220)
  roles/helm_install/files/helm
Due: none

add ingress-nginx role
  charts/ingress-nginx/.helmignore
Due: none

add cert-manager role
  cert-manager-install.yml
  roles/cert-manager_install/README.md
  roles/cert-manager_install/defaults/main.yml
  roles/cert-manager_install/files/cluster-issuer.yaml
  roles/cert-manager_install/meta/meta.yml
  roles/cert-manager_install/tasks/main.yml
  roles/cert-manager_install/vars/main.yml
Due: none

fix some linting errors
  cert-manager-install.yml
  ingress-nginx-install.yml
  roles/cert_manager_install/README.md
  roles/cert_manager_install/defaults/main.yml
  roles/cert_manager_install/files/cluster-issuer.yaml
  roles/cert_manager_install/meta/meta.yml
  roles/cert_manager_install/tasks/main.yml
  roles/cert_manager_install/vars/main.yml
  roles/ingress_nginx_install/README.md
  roles/ingress_nginx_install/defaults/main.yml
  roles/ingress_nginx_install/meta/meta.yml
  roles/ingress_nginx_install/tasks/main.yml
  roles/ingress_nginx_install/vars/main.yml
  roles/keycloak_install/defaults/main.yml
  roles/keycloak_install/tasks/main.yml
Due: none

fix some linting errors
  group_vars/all.yml.example
  roles/cert_manager_install/defaults/main.yml
  roles/cert_manager_install/tasks/main.yml
  roles/cert_manager_install/vars/main.yml
  roles/ingress_nginx_install/defaults/main.yml
  roles/ingress_nginx_install/tasks/main.yml
  roles/keycloak_install/defaults/main.yml
  roles/keycloak_install/tasks/main.yml
Due: none

chore: sync manifests
  roles/clusterapi_cluster/files/calico/calico.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

add garden-control role to install yake
  README.md
  garden-control-install.yml
  group_vars/all.yml.example
  roles/clusterapi_cluster/files/cluster-template.yaml
  roles/garden_control_install/README.md
  roles/garden_control_install/defaults/main.yml
  roles/garden_control_install/files/config/addons-values.yaml
  roles/garden_control_install/files/config/cloudprofiles-values.yaml
  roles/garden_control_install/files/config/webterminal-values.yaml
  roles/garden_control_install/meta/meta.yml
  roles/garden_control_install/tasks/main.yml
  roles/garden_control_install/templates/config/dashboard-values.yaml.j2
  roles/garden_control_install/templates/config/extensions-values.yaml.j2
  roles/garden_control_install/templates/config/gardener-values.yaml.j2
  roles/garden_control_install/templates/config/gardenlet-values.yaml.j2
  roles/garden_control_install/templates/config/identity-values.yaml.j2
  roles/garden_control_install/templates/config/yake-config.yaml.j2
  roles/garden_control_install/templates/garden-content/admin-crb.yaml.j2
  roles/garden_control_install/templates/garden-content/backup-s3-controller-registration.yaml.j2
  roles/garden_control_install/templates/garden-content/cloudprofile.yaml.j2
  roles/garden_control_install/templates/garden-content/openstack.yaml.j2
  roles/garden_control_install/templates/garden-content/project.yaml.j2
  roles/garden_control_install/templates/garden-content/rbac.yaml.j2
  roles/garden_control_install/templates/yake-source.yaml.j2
  roles/keycloak_install/defaults/main.yml
  roles/keycloak_install/tasks/main.yml
  roles/keycloak_install/vars/main.yml
  site.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Add the pipefail option to shell commands
  roles/garden_control_install/tasks/main.yml
Due: none

Recover typo
  roles/garden_control_install/tasks/main.yml
Due: none

Fix some typos and misconfigured values
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/files/cluster-template.yaml
  roles/garden_control_install/tasks/main.yml
  roles/ingress_nginx_install/tasks/main.yml
  roles/ingress_nginx_install/vars/main.yml
  roles/keycloak_install/defaults/main.yml
  roles/keycloak_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

yake-role will now deploy as expected. Ingress-, cert-manager- and keycloak-role disabled for a working yake.
  group_vars/all.yml.example
  requirements.txt
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/files/cluster-template.yaml
  roles/garden_control_install/defaults/main.yml
  roles/garden_control_install/tasks/main.yml
  roles/garden_control_install/templates/config/identity-values.yaml.j2
  roles/garden_control_install/templates/config/yake-config.yaml.j2
  roles/keycloak_install/tasks/main.yml
  site.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Remove flux_install role
  .github/workflows/build-flux-container-image.yml
  .zuul.yaml
  flux-install.yml
  images/flux/Containerfile
  images/flux/Dockerfile
  images/flux/entrypoint.sh
  molecule/delegated/prepare/flux_install.yml
  molecule/delegated/tests/flux_install.yml
  molecule/delegated/vars/flux_install.yml
  molecule/delegated/verify/flux_install.yml
  roles/flux_install/README.md
  roles/flux_install/defaults/main.yml
  roles/flux_install/files/flux
  roles/flux_install/meta/meta.yml
  roles/flux_install/tasks/main.yml
  site.yml
Due: none

Remove flux_install role (#236)
  .github/workflows/build-flux-container-image.yml
  .zuul.yaml
  flux-install.yml
  images/flux/Containerfile
  images/flux/Dockerfile
  images/flux/entrypoint.sh
  molecule/delegated/prepare/flux_install.yml
  molecule/delegated/tests/flux_install.yml
  molecule/delegated/vars/flux_install.yml
  molecule/delegated/verify/flux_install.yml
  roles/flux_install/README.md
  roles/flux_install/defaults/main.yml
  roles/flux_install/files/flux
  roles/flux_install/meta/meta.yml
  roles/flux_install/tasks/main.yml
  site.yml
Due: none

Fix wrong name of meta information files
  roles/clusterapi_cluster/meta/main.yml
  roles/clusterapi_install/meta/main.yml
  roles/clusterctl_install/meta/main.yml
  roles/helm_install/meta/main.yml
  roles/kind_cluster/meta/main.yml
  roles/kind_install/meta/main.yml
  roles/kubectl_install/meta/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

README: remove flux-install play
  README.md
Due: none

README: remove flux-install play (#238)
  README.md
Due: none

Fix wrong name of meta information files (#237)
  roles/clusterapi_cluster/meta/main.yml
  roles/clusterapi_install/meta/main.yml
  roles/clusterctl_install/meta/main.yml
  roles/helm_install/meta/main.yml
  roles/kind_cluster/meta/main.yml
  roles/kind_install/meta/main.yml
  roles/kubectl_install/meta/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

chore: sync charts
  charts/cert-manager/Chart.yaml
  charts/cert-manager/README.md
  charts/cert-manager/templates/NOTES.txt
  charts/cert-manager/templates/cainjector-deployment.yaml
  charts/cert-manager/templates/crds.yaml
  charts/cert-manager/templates/deployment.yaml
  charts/cert-manager/templates/rbac.yaml
  charts/cert-manager/templates/serviceaccount.yaml
  charts/cert-manager/templates/servicemonitor.yaml
  charts/cert-manager/templates/startupapicheck-job.yaml
  charts/cert-manager/templates/webhook-deployment.yaml
  charts/cert-manager/values.schema.json
  charts/cert-manager/values.yaml
Due: none

chore: sync manifests
  roles/clusterapi_install/files/orc.yaml
Due: yake-ansible-molecule-molecule-clusterapi-install

WIP: Add gardener-operator to the platform
  gardener-operator.yml
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin-rbac.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin.yaml
  roles/clusterapi_cluster/files/cluster-template.yaml
  roles/gardener_operator/README.md
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/meta/main.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/garden-os.yaml.j2
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/vars/main.yml
  site.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

feat: add gardener-operator role
  README.md
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/garden-os.yaml.j2
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/project.yaml.j2
  roles/gardener_operator/templates/rbac.yaml.j2
Due: none

Update some versions and make image upload optional. Also fix some linting errors
  .gitignore
  Giltfile.yaml
  images/clusterctl/Containerfile
  images/helm/Containerfile
  images/k9s/Containerfile
  images/kind/Containerfile
  images/kubectl/Containerfile
  requirements.txt
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/files/cluster-template.yaml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/templates/image.yaml.j2
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml
  roles/kind_cluster/defaults/main.yml
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-kind-cluster

Path conditions:
  yake-ansible-molecule-molecule-clusterapi-install: any of: ^roles\/clusterapi_install\/.*$, ^molecule\/delegated\/tests\/clusterapi_install.*$
  yake-ansible-molecule-molecule-clusterapi-cluster: any of: ^roles\/clusterapi_cluster\/.*$, ^molecule\/delegated\/tests\/clusterapi_cluster.*$
  yake-ansible-molecule-molecule-clusterctl-install: any of: ^roles\/clusterctl_install\/.*$, ^molecule\/delegated\/tests\/clusterctl_install.*$
  yake-ansible-molecule-molecule-kind-cluster: any of: ^roles\/kind_cluster\/.*$, ^molecule\/delegated\/tests\/kind_cluster.*$
  yake-ansible-molecule-molecule-kind-install: any of: ^roles\/kind_install\/.*$, ^molecule\/delegated\/tests\/kind_install.*$
  yake-ansible-molecule-molecule-kubectl-install: any of: ^roles\/kubectl_install\/.*$, ^molecule\/delegated\/tests\/kubectl_install.*$
