Repository YAKEcloud/yake-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

.zuul.yaml:

---
- job:
    name: abstract-yake-ansible-molecule
    parent: ansible-molecule
    abstract: true
    nodeset:
      nodes:
        - name: debian-bookworm
          label: debian-bookworm
        - name: ubuntu-noble
          label: ubuntu-noble
    vars:
      ansible_molecule_ansible_version: "10.7.0"
    files:
      - '^\.zuul\.yaml$'
      - '^molecule\/requirements\.txt$'
      - '^molecule\/delegated\/[^\/]*yml$'

- job:
    name: yake-ansible-molecule-molecule-clusterapi-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: clusterapi_install
    files:
      - '^roles\/clusterapi_install\/.*$'
      - '^molecule\/delegated\/tests\/clusterapi_install.*$'

- job:
    name: yake-ansible-molecule-molecule-clusterapi-cluster
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: clusterapi_cluster
    files:
      - '^roles\/clusterapi_cluster\/.*$'
      - '^molecule\/delegated\/tests\/clusterapi_cluster.*$'

- job:
    name: yake-ansible-molecule-molecule-clusterctl-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: clusterctl_install
    files:
      - '^roles\/clusterctl_install\/.*$'
      - '^molecule\/delegated\/tests\/clusterctl_install.*$'

- job:
    name: yake-ansible-molecule-molecule-kind-cluster
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: kind_cluster
    files:
      - '^roles\/kind_cluster\/.*$'
      - '^molecule\/delegated\/tests\/kind_cluster.*$'

- job:
    name: yake-ansible-molecule-molecule-kind-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: kind_install
    files:
      - '^roles\/kind_install\/.*$'
      - '^molecule\/delegated\/tests\/kind_install.*$'

- job:
    name: yake-ansible-molecule-molecule-kubectl-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: kubectl_install
    files:
      - '^roles\/kubectl_install\/.*$'
      - '^molecule\/delegated\/tests\/kubectl_install.*$'

- project:
    merge-mode: squash-merge
    default-branch: main
    check:
      jobs:
        - ansible-lint
        - flake8
        - hadolint
        - python-black
        - yake-ansible-molecule-molecule-clusterapi-install
        - yake-ansible-molecule-molecule-clusterctl-install
        - yake-ansible-molecule-molecule-kind-cluster
        - yake-ansible-molecule-molecule-kind-install
        - yake-ansible-molecule-molecule-kubectl-install
        - yamllint
    periodic-daily:
      jobs:
        - ansible-lint
        - flake8
        - hadolint
        - python-black
        - yake-ansible-molecule-molecule-clusterapi-install
        - yake-ansible-molecule-molecule-clusterctl-install
        - yake-ansible-molecule-molecule-kind-cluster
        - yake-ansible-molecule-molecule-kind-install
        - yake-ansible-molecule-molecule-kubectl-install
        - yamllint

Add management_cluster to renovate.json rules
  renovate.json
Due: none

Update regex matchStrings in renovate.json
  renovate.json
Due: none

Change double quotes to single quotes in YAML
  roles/clusterapi_cluster/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Add package rule for kind and kindest/node
  renovate.json
Due: none

Update kind version to v0.33.0 in workflow
  .github/workflows/build-container-images.yml
Due: none

Update management_cluster_kind_version to v0.33.0
  roles/management_cluster/defaults/main.yml
Due: none

Update k3s version to 1.37.0
  roles/management_cluster/defaults/main.yml
Due: none

Update container image versions in workflow
  .github/workflows/build-container-images.yml
Due: none

Update clusterctl_install_version to v1.14.2
  roles/clusterctl_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterctl-install

Update helm_install_version to v4.3.0
  roles/helm_install/defaults/main.yml
Due: none

Update kubectl version to v1.37.1
  roles/kubectl_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-kubectl-install

renovate: fix version tracking and prune dead config
  renovate.json
  roles/management_cluster/defaults/main.yml
Due: none

images: remove unused k9s image
  images/k9s/Containerfile
  images/k9s/Dockerfile
  images/k9s/entrypoint.sh
Due: none

ci: harden and fix workflow trigger config
  .github/workflows/sync-manifests.yml
  .github/workflows/yake-ansible-install.yml
Due: none

repo: drop stale references to removed roles
  .yamllint.yml
  .zuul.yaml
  molecule/delegated/prepare/kind_cluster.yml
  molecule/delegated/prepare/kind_install.yml
  molecule/delegated/tests/flux_install.py
  molecule/delegated/tests/kind_cluster.py
  molecule/delegated/tests/kind_install.py
  molecule/delegated/vars/kind_cluster.yml
  molecule/delegated/vars/kind_install.yml
  molecule/delegated/verify/kind_cluster.yml
  molecule/delegated/verify/kind_install.yml
Due: yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install

meta: raise minimum Ansible version to 2.18.0
  meta/runtime.yml
Due: none

images: fix chown targeting nonexistent home dir
  images/clusterctl/entrypoint.sh
  images/helm/Containerfile
  images/helm/entrypoint.sh
  images/kind/Containerfile
  images/kind/entrypoint.sh
  images/kubectl/entrypoint.sh
Due: none

clusterapi_cluster: add resiliency for control plane joins
  roles/clusterapi_cluster/README.md
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/tasks/delete.yml
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Use interoperable image import for file upload
  scripts/update-images.py
Due: none

Add image upload to all stores support
  scripts/update-images.py
Due: none

clusterapi_cluster,gardener_operator: rollout fixes and projects
  group_vars/all.yml.example
  roles/clusterapi_cluster/README.md
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
  roles/gardener_operator/README.md
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/tasks/projects.yml
  roles/gardener_operator/templates/dex-values.yaml.j2
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/gardener_operator/templates/project.yaml.j2
  roles/gardener_operator/templates/projects.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

group_vars: adopt new schema, reorganize into sections
  group_vars/all.yml.example
Due: none

group_vars: adopt new schema and shrink CI cluster
  group_vars/ci.yml
Due: none

Set the correct number of CP for CI
  group_vars/ci.yml
Due: none

group_vars: mirror ci.yml's new fields in the example
  group_vars/all.yml.example
Due: none

group_vars: bump CI worker count to 3
  group_vars/ci.yml
Due: none

ci: fix step timeouts and add failure diagnostics
  .github/workflows/yake-ansible-install.yml
Due: none

ci: skip pipeline for changes it can't actually test
  .github/scripts/check-relevant-changes.sh
  .github/workflows/yake-ansible-install.yml
Due: none

cap Kubernetes version at what provider-openstack supports
  renovate.json
  roles/clusterapi_cluster/defaults/main.yml
  roles/gardener_operator/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

automate the Kubernetes version cap against provider-openstack
  .github/scripts/update-k8s-version-cap.sh
  .github/workflows/update-k8s-version-cap.yml
Due: none

ci: check Garden readiness instead of building a shoot
  .github/workflows/yake-ansible-install.yml
  group_vars/ci.yml
Due: none

cleanup: replace project-wide sweep with scoped script
  cleanup.yml
  docs/operations.md
  scripts/README.md
  scripts/cleanup-openstack.py
  scripts/update-images.py
Due: none

scripts: fix black/flake8 formatting
  scripts/cleanup-openstack.py
Due: none
