Repository YAKEcloud/yake-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

.zuul.yaml:

---
- job:
    name: abstract-yake-ansible-molecule
    parent: ansible-molecule
    abstract: true
    nodeset:
      nodes:
        - name: debian-bookworm
          label: debian-bookworm
        - name: ubuntu-noble
          label: ubuntu-noble
    vars:
      ansible_molecule_ansible_version: "10.7.0"
    files:
      - '^\.zuul\.yaml$'
      - '^molecule\/requirements\.txt$'
      - '^molecule\/delegated\/[^\/]*yml$'

- job:
    name: yake-ansible-molecule-molecule-clusterapi-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: clusterapi_install
    files:
      - '^roles\/clusterapi_install\/.*$'
      - '^molecule\/delegated\/tests\/clusterapi_install.*$'

- job:
    name: yake-ansible-molecule-molecule-clusterapi-cluster
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: clusterapi_cluster
    files:
      - '^roles\/clusterapi_cluster\/.*$'
      - '^molecule\/delegated\/tests\/clusterapi_cluster.*$'

- job:
    name: yake-ansible-molecule-molecule-clusterctl-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: clusterctl_install
    files:
      - '^roles\/clusterctl_install\/.*$'
      - '^molecule\/delegated\/tests\/clusterctl_install.*$'

- job:
    name: yake-ansible-molecule-molecule-kind-cluster
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: kind_cluster
    files:
      - '^roles\/kind_cluster\/.*$'
      - '^molecule\/delegated\/tests\/kind_cluster.*$'

- job:
    name: yake-ansible-molecule-molecule-kind-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: kind_install
    files:
      - '^roles\/kind_install\/.*$'
      - '^molecule\/delegated\/tests\/kind_install.*$'

- job:
    name: yake-ansible-molecule-molecule-kubectl-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: kubectl_install
    files:
      - '^roles\/kubectl_install\/.*$'
      - '^molecule\/delegated\/tests\/kubectl_install.*$'

- project:
    merge-mode: squash-merge
    default-branch: main
    check:
      jobs:
        - ansible-lint
        - flake8
        - hadolint
        - python-black
        - yake-ansible-molecule-molecule-clusterapi-install
        - yake-ansible-molecule-molecule-clusterctl-install
        - yake-ansible-molecule-molecule-kind-cluster
        - yake-ansible-molecule-molecule-kind-install
        - yake-ansible-molecule-molecule-kubectl-install
        - yamllint
    periodic-daily:
      jobs:
        - ansible-lint
        - flake8
        - hadolint
        - python-black
        - yake-ansible-molecule-molecule-clusterapi-install
        - yake-ansible-molecule-molecule-clusterctl-install
        - yake-ansible-molecule-molecule-kind-cluster
        - yake-ansible-molecule-molecule-kind-install
        - yake-ansible-molecule-molecule-kubectl-install
        - yamllint

Add missing plays to the site play (#107)
  site.yml
Due: none

Add base container image
  .github/workflows/build-container-image.yml
  Containerfile
  Dockerfile
Due: none

Add base container image (#108)
  .github/workflows/build-container-image.yml
  Containerfile
  Dockerfile
Due: none

Add k9s container image
  .github/workflows/build-k9s-container-image.yml
  images/k9s/Containerfile
  images/k9s/Dockerfile
  images/k9s/entrypoint.sh
Due: none

Add k9s container image (#109)
  .github/workflows/build-k9s-container-image.yml
  images/k9s/Containerfile
  images/k9s/Dockerfile
  images/k9s/entrypoint.sh
Due: none

chore: sync charts
  charts/cert-manager/Chart.yaml
  charts/cert-manager/README.md
  charts/cert-manager/templates/cainjector-deployment.yaml
  charts/cert-manager/templates/cainjector-service.yaml
  charts/cert-manager/templates/crds.yaml
  charts/cert-manager/templates/deployment.yaml
  charts/cert-manager/templates/serviceaccount.yaml
  charts/cert-manager/templates/webhook-deployment.yaml
  charts/cert-manager/values.schema.json
  charts/cert-manager/values.yaml
Due: none

chore: sync manifests
  roles/clusterapi_cluster/files/calico/calico.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

chore: sync charts
  charts/cert-manager/Chart.yaml
  charts/cert-manager/README.md
Due: none

chore: sync charts
  charts/cilium/Chart.yaml
  charts/cilium/README.md
  charts/cilium/values.yaml
Due: none

chore: sync charts
  charts/cilium/Chart.yaml
  charts/cilium/README.md
  charts/cilium/files/cilium-envoy/configmap/bootstrap-config.yaml
  charts/cilium/templates/cilium-agent/daemonset.yaml
  charts/cilium/templates/cilium-agent/rolebinding.yaml
  charts/cilium/templates/cilium-agent/service.yaml
  charts/cilium/templates/cilium-configmap.yaml
  charts/cilium/templates/cilium-operator/role.yaml
  charts/cilium/templates/cilium-operator/rolebinding.yaml
  charts/cilium/templates/hubble/servicemonitor.yaml
  charts/cilium/templates/spire/server/service.yaml
  charts/cilium/templates/spire/server/statefulset.yaml
  charts/cilium/values.schema.json
  charts/cilium/values.yaml
  charts/cilium/values.yaml.tmpl
Due: none

chore: sync manifests
  roles/clusterapi_cluster/files/calico/calico.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin-rbac.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-nodeplugin.yaml
  roles/clusterapi_cluster/files/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Rename clusterctl -> yake-clusterctl
  molecule/delegated/tests/clusterctl_install.py
  roles/clusterapi_install/tasks/main.yml
  roles/clusterctl_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterctl-install

Manage versions of container images with renovate
  .github/renovate.json
  images/clusterctl/Containerfile
  images/flux/Containerfile
  images/helm/Containerfile
  images/k9s/Containerfile
  images/kind/Containerfile
  images/kubectl/Containerfile
Due: none

Manage versions of container images with renovate (#176)
  .github/renovate.json
  images/clusterctl/Containerfile
  images/flux/Containerfile
  images/helm/Containerfile
  images/k9s/Containerfile
  images/kind/Containerfile
  images/kubectl/Containerfile
Due: none

Merge renovate configurations
  .github/renovate.json
  renovate.json
Due: none

Merge renovate configurations (#178)
  .github/renovate.json
  renovate.json
Due: none

Get k-orc/openstack-resource-controller manifest via gilt
  .yamllint.yml
  Giltfile.yaml
  roles/clusterapi_install/files/orc.yaml
  roles/clusterapi_install/tasks/main.yml
  roles/clusterapi_install/templates/install-orc.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-install

Get kind kubernetes version from kindest/node container image
  molecule/delegated/prepare/kind_cluster.yml
  renovate.json
  roles/kind_cluster/defaults/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster

chore: sync charts
  charts/cilium/Chart.yaml
  charts/cilium/README.md
  charts/cilium/templates/cilium-agent/daemonset.yaml
  charts/cilium/templates/cilium-agent/rolebinding.yaml
  charts/cilium/templates/cilium-configmap.yaml
  charts/cilium/templates/cilium-dynamic-metrics-configmap.yaml
  charts/cilium/templates/cilium-secrets-namespace.yaml
  charts/cilium/values.schema.json
  charts/cilium/values.yaml
  charts/cilium/values.yaml.tmpl
Due: none

Change all roles to use the yake- prefix
  .gitignore
  README.md
  group_vars/all.yml
  molecule/delegated/tests/flux_install.yml
  molecule/delegated/tests/helm_install.yml
  molecule/delegated/tests/kind_install.py
  molecule/delegated/tests/kubectl_install.py
  renovate.json
  requirements.yml
  roles/clusterapi_cluster/tasks/create.yml
  roles/flux_install/tasks/main.yml
  roles/helm_install/tasks/main.yml
  roles/kind_cluster/tasks/main.yml
  roles/kind_install/tasks/main.yml
  roles/kubectl_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

kind_install: fix docker wiping ipv6 default route
  molecule/delegated/prepare/clusterapi_cluster.yml
  molecule/delegated/prepare/clusterapi_install.yml
  molecule/delegated/prepare/kind_cluster.yml
  roles/kind_cluster/defaults/main.yml
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster

kind_install: fix docker wiping ipv6 default route (#194)
  molecule/delegated/prepare/clusterapi_cluster.yml
  molecule/delegated/prepare/clusterapi_install.yml
  molecule/delegated/prepare/kind_cluster.yml
  roles/kind_cluster/defaults/main.yml
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster

kind_cluster: fix container image pull
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster

kind_cluster: fix container image pull (#195)
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster

Get k-orc/openstack-resource-controller manifest via gilt (#184)
  .yamllint.yml
  Giltfile.yaml
  roles/clusterapi_install/files/orc.yaml
  roles/clusterapi_install/tasks/main.yml
  roles/clusterapi_install/templates/install-orc.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-install

Get kind kubernetes version from kindest/node container image
  renovate.json
  roles/kind_cluster/defaults/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster

Get kind kubernetes version from kindest/node container image (#185)
  renovate.json
  roles/kind_cluster/defaults/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster

untrack all.yml
  group_vars/all.yml
Due: none

Change all roles to use the yake- prefix
  group_vars/all.yml.example
Due: none

ignore all.yml
  group_vars/all.yml
Due: none

Add the other roles
  molecule/delegated/tests/clusterapi_install.py
  molecule/delegated/tests/clusterctl_install.py
  molecule/delegated/tests/kubectl_install.py
  roles/clusterapi_install/tasks/main.yml
  roles/clusterctl_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kubectl-install

Use yake- prefix for all container wrapper scripts (#189)
  .gitignore
  README.md
  group_vars/all.yml.example
  molecule/delegated/tests/clusterapi_install.py
  molecule/delegated/tests/clusterctl_install.py
  molecule/delegated/tests/flux_install.yml
  molecule/delegated/tests/helm_install.yml
  molecule/delegated/tests/kind_install.py
  molecule/delegated/tests/kubectl_install.py
  renovate.json
  requirements.yml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_install/tasks/main.yml
  roles/clusterctl_install/tasks/main.yml
  roles/flux_install/tasks/main.yml
  roles/helm_install/tasks/main.yml
  roles/kind_cluster/tasks/main.yml
  roles/kind_install/tasks/main.yml
  roles/kubectl_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

molecule: enhance kubectl_install tests
  molecule/delegated/tests/kubectl_install.py
Due: yake-ansible-molecule-molecule-kubectl-install

molecule: enhance kind_cluster tests
  molecule/delegated/tests/kind_cluster.py
  roles/kind_cluster/tasks/main.yml
Due: yake-ansible-molecule-molecule-kind-cluster
