Repository YAKEcloud/yake-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

yake-ansible-molecule-molecule-clusterapi-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: clusterapi_install

yake-ansible-molecule-molecule-clusterapi-cluster:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: clusterapi_cluster

yake-ansible-molecule-molecule-clusterctl-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: clusterctl_install

yake-ansible-molecule-molecule-kind-cluster:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: kind_cluster

yake-ansible-molecule-molecule-kind-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: kind_install

yake-ansible-molecule-molecule-kubectl-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: kubectl_install

Ignore specific branches in pull request workflow
  .github/workflows/yake-ansible-install.yml
Due: none

Remove conditional check for release-please branch
  .github/workflows/yake-ansible-install.yml
Due: none

Disable molecule installation jobs in .zuul.yaml
  .zuul.yaml
Due: none

gardener-operator: change secretName to credentialsRef in shoot spec
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

gardener-operator: change secretName to credentialsRef in shoot spec (#575)
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

Add a dedicated handler to the dex tasks. Optimize cleanuo playbook
  cleanup.yml
  roles/gardener_operator/handlers/main.yml
  roles/gardener_operator/tasks/dex.yml
Due: none

Add dex as identity service. (#593)
  cleanup.yml
  group_vars/all.yml.example
  renovate.json
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterctl_install/defaults/main.yml
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/handlers/main.yml
  roles/gardener_operator/tasks/dex.yml
  roles/gardener_operator/tasks/keycloak.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/tasks/managed-seed.yml
  roles/gardener_operator/tasks/vgarden.yml
  roles/gardener_operator/templates/clusterissuer.yaml.j2
  roles/gardener_operator/templates/dex-values.yaml.j2
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/keycloak-cr.yaml.j2
  roles/helm_install/defaults/main.yml
  roles/kind_install/defaults/main.yml
  roles/kubectl_install/defaults/main.yml
  roles/management_cluster/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

Update regex for matchStrings in renovate.json
  renovate.json
Due: none

chore: sync manifests
  roles/clusterapi_cluster/files/calico/calico.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

chore: sync manifests
  roles/clusterapi_install/files/orc.yaml
Due: yake-ansible-molecule-molecule-clusterapi-install

Update DNS service specification in deployment docs
  docs/deployment.md
Due: none

Make volume types optional to use it with __DEFAULT__
  README.md
  group_vars/all.yml.example
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

fix: remove the extra from the cluster-template
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Make volume types optional to use it with __DEFAULT__ (#629)
  README.md
  group_vars/all.yml.example
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

bug: revert the optional capi root volume. There we can set __DEFAULT__ as a volume type
  group_vars/all.yml.example
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Change the defaults
  roles/gardener_operator/defaults/main.yml
Due: none

Add ignore-volume-az to the cloud.conf. Add a dedicated variable for the storageclass availability zone
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/templates/cloud.conf.j2
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

bug: revert the optional capi root volume. (#632)
  group_vars/all.yml.example
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/templates/cloud.conf.j2
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

feat: refactor gardener-operator role and add image sync script
  README.md
  group_vars/all.yml.example
  requirements.txt
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/templates/image.yaml.j2
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/tasks/managed-seed.yml
  roles/gardener_operator/tasks/vgarden.yml
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/gardener_operator/templates/seed-ingress-certificate.yaml.j2
  scripts/README.md
  scripts/update-images.py
Due: yake-ansible-molecule-molecule-clusterapi-cluster

chore(ci): clean up and fix GitHub Actions workflows
  .github/workflows/build-charts-container-image.yml
  .github/workflows/build-clusterctl-container-image.yml
  .github/workflows/build-container-image.yml
  .github/workflows/build-helm-container-image.yml
  .github/workflows/build-k9s-container-image.yml
  .github/workflows/build-kind-container-image.yml
  .github/workflows/build-kubectl-container-image.yml
  .github/workflows/sync-charts.yml
  .github/workflows/sync-manifests.yml
  .github/workflows/yake-ansible-install.yml
  Containerfile
Due: none

chore(main): release 0.3.0
  CHANGELOG.md
Due: none

Remove kind roles in exchange for the management role.
  .ansible-lint
  .gitignore
  kind-cluster.yml
  kind-install.yml
  roles/kind_cluster/README.md
  roles/kind_cluster/defaults/main.yml
  roles/kind_cluster/meta/main.yml
  roles/kind_cluster/tasks/main.yml
  roles/kind_cluster/templates/config.yml.j2
  roles/kind_install/README.md
  roles/kind_install/defaults/main.yml
  roles/kind_install/files/kind
  roles/kind_install/meta/main.yml
  roles/kind_install/tasks/main.yml
  site.yml
Due: yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install

chore(main): release 0.3.0 (#637)
  CHANGELOG.md
Due: none

Remove kind roles in exchange for the management role. (#638)
  .ansible-lint
  .gitignore
  kind-cluster.yml
  kind-install.yml
  roles/kind_cluster/README.md
  roles/kind_cluster/defaults/main.yml
  roles/kind_cluster/meta/main.yml
  roles/kind_cluster/tasks/main.yml
  roles/kind_cluster/templates/config.yml.j2
  roles/kind_install/README.md
  roles/kind_install/defaults/main.yml
  roles/kind_install/files/kind
  roles/kind_install/meta/main.yml
  roles/kind_install/tasks/main.yml
  site.yml
Due: yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install

chore: sync manifests
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-nodeplugin.yaml
  roles/clusterapi_cluster/files/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

refactor: simplify repo structure, add subnet pool support, overhaul docs
  .github/workflows/build-clusterctl-container-image.yml
  .github/workflows/build-container-images.yml
  .github/workflows/build-helm-container-image.yml
  .github/workflows/build-k9s-container-image.yml
  .github/workflows/build-kind-container-image.yml
  .github/workflows/build-kubectl-container-image.yml
  .github/workflows/release.yml
  .github/workflows/sync-manifests.yml
  .github/workflows/yake-ansible-install.yml
  CHANGELOG.md
  Makefile
  Pipfile
  README.md
  cleanup.yml
  clusterapi-cluster.yml
  clusterapi-install.yml
  clusterctl-install.yml
  docs/architecture.md
  docs/configuration.md
  docs/deployment.md
  docs/getting-started.md
  docs/operations.md
  gardener-operator.yml
  helm-install.yml
  kubectl-install.yml
  management-cluster.yml
  roles/README.md
  roles/clusterapi_cluster/README.md
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
  roles/clusterapi_install/README.md
  roles/clusterctl_install/README.md
  roles/gardener_operator/README.md
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/helm_install/README.md
  roles/kubectl_install/README.md
  roles/management_cluster/README.md
  site.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kubectl-install

feat(gardener_operator): add configurable gardenlet imageVectorOverwrite
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/gardenlet.yaml.j2
Due: none

refactor: simplify repo structure, add subnet pool support, overhaul … (#656)
  .github/workflows/build-clusterctl-container-image.yml
  .github/workflows/build-container-images.yml
  .github/workflows/build-helm-container-image.yml
  .github/workflows/build-k9s-container-image.yml
  .github/workflows/build-kind-container-image.yml
  .github/workflows/build-kubectl-container-image.yml
  .github/workflows/release.yml
  .github/workflows/sync-manifests.yml
  .github/workflows/yake-ansible-install.yml
  CHANGELOG.md
  Makefile
  Pipfile
  README.md
  cleanup.yml
  clusterapi-cluster.yml
  clusterapi-install.yml
  clusterctl-install.yml
  docs/architecture.md
  docs/configuration.md
  docs/deployment.md
  docs/getting-started.md
  docs/operations.md
  gardener-operator.yml
  helm-install.yml
  kubectl-install.yml
  management-cluster.yml
  roles/README.md
  roles/clusterapi_cluster/README.md
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
  roles/clusterapi_install/README.md
  roles/clusterctl_install/README.md
  roles/gardener_operator/README.md
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/helm_install/README.md
  roles/kubectl_install/README.md
  roles/management_cluster/README.md
  site.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kubectl-install

feat(scripts): add --insecure flag to update-images.py
  scripts/README.md
  scripts/update-images.py
Due: none

feat(scripts): add --insecure flag to update-images.py (#659)
  scripts/README.md
  scripts/update-images.py
Due: none

fix(clusterapi_cluster): CA cert handling, proxy support, optional root volume
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/tasks/main.yml
  roles/clusterapi_cluster/tasks/network-calico.yml
  roles/clusterapi_cluster/tasks/network-cilium.yml
  roles/clusterapi_cluster/templates/cloud.conf.j2
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
  scripts/update-images.py
Due: yake-ansible-molecule-molecule-clusterapi-cluster

fix(clusterapi_cluster): CA cert handling, proxy support, optional root volume (#664)
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/tasks/main.yml
  roles/clusterapi_cluster/tasks/network-calico.yml
  roles/clusterapi_cluster/tasks/network-cilium.yml
  roles/clusterapi_cluster/templates/cloud.conf.j2
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
  scripts/update-images.py
Due: yake-ansible-molecule-molecule-clusterapi-cluster

feat: add networking docs, image validation, and fix operator templates
  cleanup.yml
  docs/architecture.md
  docs/getting-started.md
  docs/networking.md
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/create.yml
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

fix network topology
  docs/networking.md
Due: none

feat: add networking docs, image validation, and fix operator templates (#684)
  cleanup.yml
  docs/architecture.md
  docs/getting-started.md
  docs/networking.md
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/create.yml
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Enhance README with networking details in architecture
  README.md
Due: none

Fix formatting and punctuation in networking.md
  docs/networking.md
Due: none

Path conditions:
  yake-ansible-molecule-molecule-clusterapi-install: any of: ^roles\/clusterapi_install\/.*$, ^molecule\/delegated\/tests\/clusterapi_install.*$
  yake-ansible-molecule-molecule-clusterapi-cluster: any of: ^roles\/clusterapi_cluster\/.*$, ^molecule\/delegated\/tests\/clusterapi_cluster.*$
  yake-ansible-molecule-molecule-clusterctl-install: any of: ^roles\/clusterctl_install\/.*$, ^molecule\/delegated\/tests\/clusterctl_install.*$
  yake-ansible-molecule-molecule-kind-cluster: any of: ^roles\/kind_cluster\/.*$, ^molecule\/delegated\/tests\/kind_cluster.*$
  yake-ansible-molecule-molecule-kind-install: any of: ^roles\/kind_install\/.*$, ^molecule\/delegated\/tests\/kind_install.*$
  yake-ansible-molecule-molecule-kubectl-install: any of: ^roles\/kubectl_install\/.*$, ^molecule\/delegated\/tests\/kubectl_install.*$
