Repository YAKEcloud/yake-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

yake-ansible-molecule-molecule-clusterapi-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: clusterapi_install

yake-ansible-molecule-molecule-clusterapi-cluster:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: clusterapi_cluster

yake-ansible-molecule-molecule-clusterctl-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: clusterctl_install

yake-ansible-molecule-molecule-kind-cluster:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: kind_cluster

yake-ansible-molecule-molecule-kind-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: kind_install

yake-ansible-molecule-molecule-kubectl-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: kubectl_install

chore: sync manifests
  roles/clusterapi_install/files/orc.yaml
Due: yake-ansible-molecule-molecule-clusterapi-install

Fix formatting in networking documentation
  docs/networking.md
Due: none

Fix formatting of port range for etcd
  docs/networking.md
Due: none

Update OpenStack project and service recommendations
  docs/getting-started.md
Due: none

fix(gardener): fix terminal access and align network configuration
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/network-calico.yml
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/vgarden.yml
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/gardener_operator/templates/seed-ingress-certificate.yaml.j2
  roles/gardener_operator/vars/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

fix(gardener): fix terminal access and align network configuration (#700)
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/network-calico.yml
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/vgarden.yml
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/gardener_operator/templates/seed-ingress-certificate.yaml.j2
  roles/gardener_operator/vars/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

feat: add proxy env and auto-restart to CLI tool containers
  roles/clusterctl_install/tasks/main.yml
  roles/helm_install/tasks/main.yml
  roles/kubectl_install/tasks/main.yml
  roles/management_cluster/tasks/kind.yml
Due: yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kubectl-install

fix: remove ineffective environment from kind create cluster task
  roles/management_cluster/tasks/kind.yml
Due: none

feat: add proxy env and auto-restart to CLI tool containers (#711)
  roles/clusterctl_install/tasks/main.yml
  roles/helm_install/tasks/main.yml
  roles/kubectl_install/tasks/main.yml
  roles/management_cluster/tasks/kind.yml
Due: yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kubectl-install

feat: add custom hosts entries support for OpenStack endpoints
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_install/defaults/main.yml
  roles/clusterapi_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster

fix: satisfy ansible-lint no-changed-when and risky-shell-pipe rules
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

feat: inject proxy config into containerd on CAPI cluster nodes
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

feat: add custom hosts entries support for OpenStack endpoints (#714)
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
  roles/clusterapi_install/defaults/main.yml
  roles/clusterapi_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster

feat: inject proxy env into Gardener extension pods via Kyverno
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/kyverno-proxy-policy.yaml.j2
Due: none

Apply suggestions from code review
  roles/gardener_operator/templates/kyverno-proxy-policy.yaml.j2
Due: none

feat: make pod CIDR configurable and align Cilium IPAM pool
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

feat: make pod CIDR blocks list configurable
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

feat: inject proxy env into gardener-operator pod and gardenlet
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/gardenlet.yaml.j2
Due: none

fix: use dynamic pod CIDR in gardenlet seed network config
  roles/gardener_operator/templates/gardenlet.yaml.j2
Due: none

feat: add proxy egress NetworkPolicy for DNS extension namespace
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/proxy-network-policy.yaml.j2
  roles/gardener_operator/vars/main.yml
Due: none

feat: inject proxy env into Gardener extension pods via Kyverno (#715)
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/kyverno-proxy-policy.yaml.j2
  roles/gardener_operator/templates/proxy-network-policy.yaml.j2
  roles/gardener_operator/vars/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

feat: add registry-cache extension support for proxy environments
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

fix: migrate GardenerDashboard domain config to v1.146.0 API
  roles/gardener_operator/templates/garden.yaml.j2
Due: none

Add shoot Prometheus remote write monitoring config
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

Document gardener_operator monitoring variables
  roles/gardener_operator/README.md
Due: none

Support different AZs for volume/server in CAPI
  docs/configuration.md
  roles/clusterapi_cluster/README.md
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Allow raw Helm values for provider-openstack extension
  roles/gardener_operator/README.md
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
Due: none

Fix Extension values field placement for openstack
  roles/gardener_operator/templates/extensions.yaml.j2
Due: none

ci: move CI vars into vault-encrypted group_vars/ci.yml
  .github/workflows/yake-ansible-install.yml
  .gitignore
  ansible.cfg
  docs/operations.md
  group_vars/ci.yml
Due: none

ci: stop forcing vault_password_file in ansible.cfg
  ansible.cfg
  docs/operations.md
Due: none

Path conditions:
  yake-ansible-molecule-molecule-clusterapi-install: any of: ^roles\/clusterapi_install\/.*$, ^molecule\/delegated\/tests\/clusterapi_install.*$
  yake-ansible-molecule-molecule-clusterapi-cluster: any of: ^roles\/clusterapi_cluster\/.*$, ^molecule\/delegated\/tests\/clusterapi_cluster.*$
  yake-ansible-molecule-molecule-clusterctl-install: any of: ^roles\/clusterctl_install\/.*$, ^molecule\/delegated\/tests\/clusterctl_install.*$
  yake-ansible-molecule-molecule-kind-cluster: any of: ^roles\/kind_cluster\/.*$, ^molecule\/delegated\/tests\/kind_cluster.*$
  yake-ansible-molecule-molecule-kind-install: any of: ^roles\/kind_install\/.*$, ^molecule\/delegated\/tests\/kind_install.*$
  yake-ansible-molecule-molecule-kubectl-install: any of: ^roles\/kubectl_install\/.*$, ^molecule\/delegated\/tests\/kubectl_install.*$
