Repository YAKEcloud/yake-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

yake-ansible-molecule-molecule-clusterapi-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: clusterapi_install

yake-ansible-molecule-molecule-clusterapi-cluster:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: clusterapi_cluster

yake-ansible-molecule-molecule-clusterctl-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: clusterctl_install

yake-ansible-molecule-molecule-kind-cluster:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: kind_cluster

yake-ansible-molecule-molecule-kind-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: kind_install

yake-ansible-molecule-molecule-kubectl-install:
  parent: abstract-yake-ansible-molecule
  vars:
    ansible_role: kubectl_install

Add gardener-operator to the platform (#249)
  .gitignore
  Giltfile.yaml
  README.md
  gardener-operator.yml
  images/clusterctl/Containerfile
  images/helm/Containerfile
  images/k9s/Containerfile
  images/kind/Containerfile
  images/kubectl/Containerfile
  requirements.txt
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin-rbac.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin.yaml
  roles/clusterapi_cluster/files/cluster-template.yaml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/templates/image.yaml.j2
  roles/gardener_operator/README.md
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/meta/main.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml
  roles/gardener_operator/templates/project.yaml.j2
  roles/gardener_operator/templates/rbac.yaml.j2
  roles/gardener_operator/vars/main.yml
  roles/kind_cluster/defaults/main.yml
  roles/kind_cluster/tasks/main.yml
  site.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-kind-cluster

Add cloudprofile and managed seed option to gardener-operator.
  README.md
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/files/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml
  roles/clusterapi_cluster/files/cluster-template.yaml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_install/defaults/main.yml
  roles/clusterapi_install/files/orc.yaml
  roles/clusterctl_install/defaults/main.yml
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/cloudprofile.yaml.j2
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/gardener_operator/templates/project.yaml.j2
  roles/gardener_operator/templates/rbac.yaml.j2
  roles/helm_install/defaults/main.yml
  roles/kind_cluster/defaults/main.yml
  roles/kind_install/defaults/main.yml
  roles/kubectl_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

Add cloudprofile and managed seed option to gardener-operator. (#253)
  README.md
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/files/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml
  roles/clusterapi_cluster/files/cluster-template.yaml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_install/defaults/main.yml
  roles/clusterapi_install/files/orc.yaml
  roles/clusterctl_install/defaults/main.yml
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/cloudprofile.yaml.j2
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/gardener_operator/templates/project.yaml.j2
  roles/gardener_operator/templates/rbac.yaml.j2
  roles/helm_install/defaults/main.yml
  roles/kind_cluster/defaults/main.yml
  roles/kind_install/defaults/main.yml
  roles/kubectl_install/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

Changed the path for custom scripts to .local instead of /usr/local/bin
  .gitignore
  Pipfile
  README.md
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/tasks/network-cilium.yml
  roles/clusterapi_install/tasks/main.yml
  roles/clusterctl_install/tasks/main.yml
  roles/gardener_operator/tasks/main.yml
  roles/helm_install/tasks/main.yml
  roles/kind_cluster/tasks/main.yml
  roles/kind_install/tasks/main.yml
  roles/kubectl_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

Changed the path for custom scripts to .local instead of /usr/local/bin (#254)
  .gitignore
  Pipfile
  README.md
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/tasks/network-cilium.yml
  roles/clusterapi_install/tasks/main.yml
  roles/clusterctl_install/tasks/main.yml
  roles/gardener_operator/tasks/main.yml
  roles/helm_install/tasks/main.yml
  roles/kind_cluster/tasks/main.yml
  roles/kind_install/tasks/main.yml
  roles/kubectl_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

Fixed k8s versions. They will only be patched (important for gardener).
  .github/workflows/build-kubectl-container-image.yml
  group_vars/all.yml.example
  images/kubectl/Containerfile
  renovate.json
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/files/calico/calico.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-nodeplugin.yaml
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Fixed k8s versions. They will only be patched (important for gardener). (#257)
  .github/workflows/build-kubectl-container-image.yml
  group_vars/all.yml.example
  images/kubectl/Containerfile
  renovate.json
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/files/calico/calico.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-nodeplugin.yaml
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

chore: sync manifests
  roles/clusterapi_cluster/files/calico/calico.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin-rbac.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

molecule: enhance helm_install tests (#201)
  molecule/delegated/tests/helm_install.py
  molecule/delegated/tests/helm_install.yml
Due: none

molecule: enhance flux_install tests (#202)
  molecule/delegated/tests/flux_install.py
Due: none

Update README.md
  README.md
Due: none

Update README.md (#258)
  README.md
Due: none

Update README.md (#259)
  README.md
Due: none

fixed typos in the install roles
  roles/clusterapi_install/tasks/main.yml
  roles/clusterctl_install/tasks/main.yml
  roles/helm_install/tasks/main.yml
  roles/kind_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-install

fixed typos in the install roles (#268)
  roles/clusterapi_install/tasks/main.yml
  roles/clusterctl_install/tasks/main.yml
  roles/helm_install/tasks/main.yml
  roles/kind_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-install

Fix disabeling csi-snapshotter in clusterapi_cluster role
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin.yaml
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Fix indentation
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Fix disabeling csi-snapshotter in clusterapi_cluster role (#271)
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Make backups for gardener, internal-seed and managed-seed optional
  roles/clusterapi_cluster/defaults/main.yml
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Remove some extra ---
  roles/gardener_operator/templates/extensions.yaml.j2
Due: none

Make backups for gardener, internal-seed and managed-seed optional (#274)
  roles/clusterapi_cluster/defaults/main.yml
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Insert image id directly without extracting. Also use python yq with pip for a task
  requirements.txt
  roles/clusterapi_cluster/tasks/create.yml
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/cloudprofile.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Insert image id directly without extracting. Also use python yq with pip for a task (#275)
  requirements.txt
  roles/clusterapi_cluster/tasks/create.yml
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/cloudprofile.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Make the image name variable
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/cloudprofile.yaml.j2
Due: none

Small fixes (#276)
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/cloudprofile.yaml.j2
Due: none

Fix extensions-shoot-dns-server and add another nameserver
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
Due: none

Fix extensions-shoot-dns-server and add another nameserver (#280)
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
Due: none

chore: sync charts
  charts/cilium/Chart.yaml
  charts/cilium/README.md
  charts/cilium/templates/_extensions.tpl
  charts/cilium/templates/cilium-agent/daemonset.yaml
  charts/cilium/templates/cilium-agent/servicemonitor.yaml
  charts/cilium/templates/cilium-configmap.yaml
  charts/cilium/templates/cilium-ingress-service.yaml
  charts/cilium/templates/clustermesh-apiserver/servicemonitor.yaml
  charts/cilium/templates/hubble-relay/servicemonitor.yaml
  charts/cilium/templates/hubble/servicemonitor.yaml
  charts/cilium/values.schema.json
  charts/cilium/values.yaml
  charts/cilium/values.yaml.tmpl
Due: none

Change the networks for seeds. Add a certificate for terminal. ALso extend the all.yml.example
  README.md
  group_vars/all.yml.example
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/gardener_operator/templates/seed-terminal-certificate.yaml.j2
Due: none

Change the networks for seeds. Add a certificate for terminal. ALso extend the all.yml.example (#284)
  README.md
  group_vars/all.yml.example
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/gardener_operator/templates/seed-terminal-certificate.yaml.j2
Due: none

Change the subdomain for the virtualCluster to function correctly. It seems that there MUST be a subdomain
  roles/gardener_operator/templates/garden.yaml.j2
Due: none

Change the subdomain for the virtualCluster to function correctly. (#285)
  roles/gardener_operator/templates/garden.yaml.j2
Due: none

Change SecretBinding to CredentialsBinding for the Managed Seed
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

Change SecretBinding to CredentialsBinding for the Managed Seed (#286)
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

operator: add decent credentials options for managed seed
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

operator: add decent credentials options for managed seed (#295)
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

chore: sync charts
  charts/cert-manager/Chart.yaml
  charts/cert-manager/README.md
  charts/cert-manager/templates/_helpers.tpl
  charts/cert-manager/templates/cainjector-deployment.yaml
  charts/cert-manager/templates/crd-acme.cert-manager.io_challenges.yaml
  charts/cert-manager/templates/crd-acme.cert-manager.io_orders.yaml
  charts/cert-manager/templates/crd-cert-manager.io_certificaterequests.yaml
  charts/cert-manager/templates/crd-cert-manager.io_certificates.yaml
  charts/cert-manager/templates/crd-cert-manager.io_clusterissuers.yaml
  charts/cert-manager/templates/crd-cert-manager.io_issuers.yaml
  charts/cert-manager/templates/crds.yaml
  charts/cert-manager/templates/deployment.yaml
  charts/cert-manager/templates/rbac.yaml
  charts/cert-manager/templates/startupapicheck-job.yaml
  charts/cert-manager/templates/webhook-deployment.yaml
  charts/cert-manager/values.schema.json
  charts/cert-manager/values.yaml
Due: none

clusterapi-cluster: add optional a root volume from which the vm can boot for persistence.
  README.md
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Path conditions:
  yake-ansible-molecule-molecule-clusterapi-install: any of: ^roles\/clusterapi_install\/.*$, ^molecule\/delegated\/tests\/clusterapi_install.*$
  yake-ansible-molecule-molecule-clusterapi-cluster: any of: ^roles\/clusterapi_cluster\/.*$, ^molecule\/delegated\/tests\/clusterapi_cluster.*$
  yake-ansible-molecule-molecule-clusterctl-install: any of: ^roles\/clusterctl_install\/.*$, ^molecule\/delegated\/tests\/clusterctl_install.*$
  yake-ansible-molecule-molecule-kind-cluster: any of: ^roles\/kind_cluster\/.*$, ^molecule\/delegated\/tests\/kind_cluster.*$
  yake-ansible-molecule-molecule-kind-install: any of: ^roles\/kind_install\/.*$, ^molecule\/delegated\/tests\/kind_install.*$
  yake-ansible-molecule-molecule-kubectl-install: any of: ^roles\/kubectl_install\/.*$, ^molecule\/delegated\/tests\/kubectl_install.*$
