Repository YAKEcloud/yake-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

.zuul.yaml:

---
- job:
    name: abstract-yake-ansible-molecule
    parent: ansible-molecule
    abstract: true
    nodeset:
      nodes:
        - name: debian-bookworm
          label: debian-bookworm
        - name: ubuntu-noble
          label: ubuntu-noble
    vars:
      ansible_molecule_ansible_version: "10.7.0"
    files:
      - '^\.zuul\.yaml$'
      - '^molecule\/requirements\.txt$'
      - '^molecule\/delegated\/[^\/]*yml$'

- job:
    name: yake-ansible-molecule-molecule-clusterapi-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: clusterapi_install
    files:
      - '^roles\/clusterapi_install\/.*$'
      - '^molecule\/delegated\/tests\/clusterapi_install.*$'

- job:
    name: yake-ansible-molecule-molecule-clusterapi-cluster
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: clusterapi_cluster
    files:
      - '^roles\/clusterapi_cluster\/.*$'
      - '^molecule\/delegated\/tests\/clusterapi_cluster.*$'

- job:
    name: yake-ansible-molecule-molecule-clusterctl-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: clusterctl_install
    files:
      - '^roles\/clusterctl_install\/.*$'
      - '^molecule\/delegated\/tests\/clusterctl_install.*$'

- job:
    name: yake-ansible-molecule-molecule-kind-cluster
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: kind_cluster
    files:
      - '^roles\/kind_cluster\/.*$'
      - '^molecule\/delegated\/tests\/kind_cluster.*$'

- job:
    name: yake-ansible-molecule-molecule-kind-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: kind_install
    files:
      - '^roles\/kind_install\/.*$'
      - '^molecule\/delegated\/tests\/kind_install.*$'

- job:
    name: yake-ansible-molecule-molecule-kubectl-install
    parent: abstract-yake-ansible-molecule
    vars:
      ansible_role: kubectl_install
    files:
      - '^roles\/kubectl_install\/.*$'
      - '^molecule\/delegated\/tests\/kubectl_install.*$'

- project:
    merge-mode: squash-merge
    default-branch: main
    check:
      jobs:
        - ansible-lint
        - flake8
        - hadolint
        - python-black
        - yake-ansible-molecule-molecule-clusterapi-install
        - yake-ansible-molecule-molecule-clusterctl-install
        - yake-ansible-molecule-molecule-kind-cluster
        - yake-ansible-molecule-molecule-kind-install
        - yake-ansible-molecule-molecule-kubectl-install
        - yamllint
    periodic-daily:
      jobs:
        - ansible-lint
        - flake8
        - hadolint
        - python-black
        - yake-ansible-molecule-molecule-clusterapi-install
        - yake-ansible-molecule-molecule-clusterctl-install
        - yake-ansible-molecule-molecule-kind-cluster
        - yake-ansible-molecule-molecule-kind-install
        - yake-ansible-molecule-molecule-kubectl-install
        - yamllint

chore: sync charts
  charts/cilium/Chart.yaml
  charts/cilium/README.md
  charts/cilium/templates/cilium-envoy/configmap.yaml
  charts/cilium/templates/cilium-preflight/daemonset.yaml
  charts/cilium/values.yaml
Due: none

chore: sync manifests
  roles/clusterapi_cluster/files/calico/calico.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-controllerplugin.yaml
  roles/clusterapi_cluster/files/cinder-csi/cinder-csi-nodeplugin.yaml
  roles/clusterapi_cluster/files/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml
  roles/clusterapi_install/files/orc.yaml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster

gardener-operator: Add internal domain to the managed-seed.yaml.j2. Changed dns.provider from secretRef to credentialsRef (secretRef will be deprecated in future versions).
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

gardener-operator: Add internal domain to the managed-seed.yaml.j2. (#482)
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

gardener-operator: Downgrade openstack-provider to v1.51.0 because of RBAC errors with latest v1.52.0.
  roles/gardener_operator/defaults/main.yml
Due: none

gardener-operator: Downgrade openstack-provider to v1.51.0 because of RBAC errors with latest v1.52.0. (#487)
  roles/gardener_operator/defaults/main.yml
Due: none

gardener-operator: set the internal-domain also for the secret. Let the option to set a custom internal domain but also define a default.
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

gardener-operator: set the internal-domain also for the secret. (#489)
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
Due: none

Readme: Add infos to access the vgarden
  README.md
Due: none

Readme: Add infos to access the vgarden (#491)
  README.md
Due: none

Add the option to choose between docker and podman. A gloabal variable can be set
  group_vars/all.yml.example
  requirements.txt
  requirements.yml
  roles/clusterctl_install/defaults/main.yml
  roles/clusterctl_install/tasks/main.yml
  roles/helm_install/defaults/main.yml
  roles/helm_install/tasks/main.yml
  roles/kind_cluster/defaults/main.yml
  roles/kind_cluster/tasks/main.yml
  roles/kind_install/defaults/main.yml
  roles/kind_install/tasks/main.yml
  roles/kubectl_install/defaults/main.yml
  roles/kubectl_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

Add the option to install all tools as binaries. (#507)
  README.md
  group_vars/all.yml.example
  management-cluster.yml
  roles/clusterapi_install/defaults/main.yml
  roles/clusterapi_install/tasks/main.yml
  roles/clusterctl_install/defaults/main.yml
  roles/clusterctl_install/tasks/main.yml
  roles/helm_install/defaults/main.yml
  roles/helm_install/tasks/main.yml
  roles/kind_install/defaults/main.yml
  roles/kind_install/tasks/main.yml
  roles/kubectl_install/defaults/main.yml
  roles/kubectl_install/tasks/main.yml
  roles/management_cluster/README.md
  roles/management_cluster/defaults/main.yml
  roles/management_cluster/files/kind
  roles/management_cluster/meta/main.yml
  roles/management_cluster/tasks/k3s.yml
  roles/management_cluster/tasks/kind.yml
  roles/management_cluster/tasks/main.yml
  roles/management_cluster/templates/config.yml.j2
  site.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

Add variables for define proxy envs. This can be necessary in an environment where the connection to the outside is blocked by a firewall
  README.md
  group_vars/all.yml.example
  roles/clusterapi_install/defaults/main.yml
  roles/clusterapi_install/tasks/main.yml
  roles/clusterctl_install/defaults/main.yml
  roles/clusterctl_install/tasks/main.yml
  roles/helm_install/defaults/main.yml
  roles/helm_install/tasks/main.yml
  roles/kind_install/defaults/main.yml
  roles/kind_install/tasks/main.yml
  roles/kubectl_install/defaults/main.yml
  roles/kubectl_install/tasks/main.yml
  roles/management_cluster/defaults/main.yml
  roles/management_cluster/tasks/k3s.yml
  roles/management_cluster/tasks/kind.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

Allow to set an own CA for certs. Add a variable for nameservers
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
Due: none

Add variables for define proxy envs. (#511)
  README.md
  group_vars/all.yml.example
  roles/clusterapi_install/defaults/main.yml
  roles/clusterapi_install/tasks/main.yml
  roles/clusterctl_install/defaults/main.yml
  roles/clusterctl_install/tasks/main.yml
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/helm_install/defaults/main.yml
  roles/helm_install/tasks/main.yml
  roles/kind_install/defaults/main.yml
  roles/kind_install/tasks/main.yml
  roles/kubectl_install/defaults/main.yml
  roles/kubectl_install/tasks/main.yml
  roles/management_cluster/defaults/main.yml
  roles/management_cluster/tasks/k3s.yml
  roles/management_cluster/tasks/kind.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

Set environment for k3s installation script
  roles/management_cluster/tasks/k3s.yml
Due: none

chore: sync charts
  charts/cilium/Chart.yaml
  charts/cilium/README.md
  charts/cilium/templates/cilium-agent/role.yaml
  charts/cilium/templates/cilium-agent/rolebinding.yaml
  charts/cilium/templates/cilium-operator/clusterrole.yaml
  charts/cilium/values.yaml
Due: none

Add custom settings for quay.io and gcr.io
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Add custom settings for quay.io and gcr.io
  roles/clusterapi_cluster/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Registries (#514)
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Set the correct renamed variable
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Set the correct renamed variable
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

Set the correct renamed variable
  roles/clusterapi_cluster/tasks/create.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

gardener-operator: Add the proxy env for downloads
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/keycloak.yml
  roles/gardener_operator/tasks/main.yml
Due: none

clusterapi-cluster: add proxy for europe-docker.pkg.dev
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi-cluster: add variable for europe-docker.pkg.dev
  roles/clusterapi_cluster/defaults/main.yml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

clusterapi-cluster: add an option to extense the cluster with a custom hosts file
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/templates/clouds.yaml.j2
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

chore: sync manifests
  roles/clusterapi_cluster/files/calico/calico.yaml
Due: yake-ansible-molecule-molecule-clusterapi-cluster

define a lot of other variables. add often a ca file or ca content. add custom registries to garden and managed seed. we need to wait for a extension to work with ca files
  gardener-operator.yml
  helm-install.yml
  kind-cluster.yml
  kind-install.yml
  kubectl-install.yml
  management-cluster.yml
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/templates/cloud.conf.j2
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
  roles/clusterapi_install/defaults/main.yml
  roles/clusterctl_install/defaults/main.yml
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/helm_install/defaults/main.yml
  roles/kind_cluster/defaults/main.yml
  roles/kind_install/defaults/main.yml
  roles/kubectl_install/defaults/main.yml
  roles/management_cluster/defaults/main.yml
  roles/management_cluster/tasks/k3s.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

Add the new variables and changes to the example all yaml
  group_vars/all.yml.example
  roles/gardener_operator/defaults/main.yml
Due: none

remove verify or insecure for cacert
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/templates/cloud-secret.yaml.j2
  roles/clusterapi_cluster/templates/clouds.yaml.j2
Due: yake-ansible-molecule-molecule-clusterapi-cluster

refactor: improve OpenStack config (#518)
  gardener-operator.yml
  group_vars/all.yml.example
  helm-install.yml
  kind-cluster.yml
  kind-install.yml
  kubectl-install.yml
  management-cluster.yml
  roles/clusterapi_cluster/defaults/main.yml
  roles/clusterapi_cluster/tasks/create.yml
  roles/clusterapi_cluster/templates/cloud-secret.yaml.j2
  roles/clusterapi_cluster/templates/cloud.conf.j2
  roles/clusterapi_cluster/templates/clouds.yaml.j2
  roles/clusterapi_cluster/templates/cluster-template.yaml.j2
  roles/clusterapi_install/defaults/main.yml
  roles/clusterctl_install/defaults/main.yml
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/tasks/keycloak.yml
  roles/gardener_operator/tasks/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/gardenlet.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/helm_install/defaults/main.yml
  roles/kind_cluster/defaults/main.yml
  roles/kind_install/defaults/main.yml
  roles/kubectl_install/defaults/main.yml
  roles/management_cluster/defaults/main.yml
  roles/management_cluster/tasks/k3s.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-clusterapi-cluster, yake-ansible-molecule-molecule-clusterctl-install, yake-ansible-molecule-molecule-kind-cluster, yake-ansible-molecule-molecule-kind-install, yake-ansible-molecule-molecule-kubectl-install

Upgrade the whole stack to K8s 1.35.x. Removed some forbidden functions for 1.35.x. Add cache-extension with cabundle for self-signed certs. We need to wait for the new release
  group_vars/all.yml.example
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/kubectl_install/tasks/main.yml
Due: yake-ansible-molecule-molecule-kubectl-install

fix: resolve ansible-lint violations for shell-pipe, var-naming, changed-when
  roles/clusterapi_install/tasks/main.yml
  roles/management_cluster/tasks/k3s.yml
  roles/management_cluster/tasks/kind.yml
Due: yake-ansible-molecule-molecule-clusterapi-install

gardener-operator: remove some unused extensions. expand renovate to automerge, if install-check succeded
  renovate.json
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
Due: none

ci: add release-please to automatic generate new release on manual pr
  .github/workflows/release.yml
Due: none

feat: Upgrade the whole stack to K8s 1.35.x. (#560)
  .github/workflows/release.yml
  .github/workflows/yake-ansible-install.yml
  group_vars/all.yml.example
  renovate.json
  roles/clusterapi_install/tasks/main.yml
  roles/gardener_operator/defaults/main.yml
  roles/gardener_operator/templates/extensions.yaml.j2
  roles/gardener_operator/templates/garden.yaml.j2
  roles/gardener_operator/templates/managed-seed.yaml.j2
  roles/kubectl_install/tasks/main.yml
  roles/management_cluster/tasks/k3s.yml
  roles/management_cluster/tasks/kind.yml
Due: yake-ansible-molecule-molecule-clusterapi-install, yake-ansible-molecule-molecule-kubectl-install

ci: add pat to release-please
  .github/workflows/release.yml
  .github/workflows/yake-ansible-install.yml
Due: none

K8s and cache upgrades (#565)
  .github/workflows/release.yml
  .github/workflows/yake-ansible-install.yml
Due: none
